.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  nav {
    width: 1120px;
    margin: 56px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  img {
    height: 41px;
    width: 41px;
    object-fit: contain;
    background-color: var(--primary-color);
    border-radius: 50%;
  }

  h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    color: var(--primary-color);
  }
}

.navLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;

  font-weight: bold;
  font-size: 18px;

  li {
    a {
      color: var(--text-color);
      text-decoration: none;
      font-weight: 300;
    }

    &.selected a {
      font-weight: bold;
    }
  }
}
