.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    flex: 1;
    width: 1120px;
    margin: 0 auto;

    @media (max-width: 920px) {
      width: 100%;
      padding: 0 20px;
    }
  }
}
